# ==== Python Cache (Compiled Files) ==== #
__pycache__/
*.py[cod]
*$py.class
*.spec

# ==== Virtual Environments ==== #
venv/
.venv/
build/
dist/

# ==== System or App Logs ==== #
*.log

# ==== User Settings ==== #
settings.json

# ==== Code Editors ==== #
*.swp
*.swo

# ==== Operative System files ==== #
Thumbs.db
Desktop.ini
.DS_Store

# ==== Releases ==== #
build/